body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}



/*************************header coding***********************************************************************/


#header-nav 
{
	background-color: gray;
	border: 0;
	border-radius: 0;
}
#navheading
{
	color: black;
	font-size: 1.5em;
	text-shadow: 0.5em; 
	font-family: 'Oxygen' ;
    float: left;
    margin-left: -30px;
}

    .navbar-default .navbar-nav>li>a {
    color: black;
}

#nav-list
{
	margin-top: 30px;
	margin-bottom: 5px;
	text-align: center;
	float: center;
	color: black;
    line-height: 12px;
    text-shadow: 2px;
    text-transform: capitalize;
   }

 .navbar-nav> li >a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 12px;
    text-align: center;
    color: black;
    text-decoration-line: underline;
    text-transform: capitalize;
}
.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
}
/*#logo-img
{
	background:url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
    margin-top: 25px;
  
    margin-bottom: 20px;
    
}*/
#main-content-menu
{
	margin-top: 20px;
	text-align: center;
	text-decoration-style: bold;
	text-transform: capitalize;
	font-size: 1.9em;
	color: black;
	font-family: 'Oxygen',sans-serif;
	margin-bottom: 30px;
	text-decoration-line: underline;
}
.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}
#chicken-head, #bef, #susi {
	text-align: center;
  text-transform: capitalize;
  text-decoration-line: none;
  margin-bottom: 40px;
  position: relative;
}
 
/*.col-md-4
{
 background-color: green;
 border-color: black;
 border-style: solid;
 border-width: 2px;
 color: white;
 
  
}
 /* .column {
    width: 48%;
    padding: 0 15px;
    box-sizing: border-box;
    background: #93dcff;
    float: left;
}*/
@media (min-width: 1200px)
{
	 .col-md-4
	 {
 background-color: gray;
 border-color: black;
 border-style: solid;
 border-width: 2px;
 color: black;
 width:32.33333%;
 margin-right: 2px;
	}
 }
@media (min-width: 765px)
{
	.col-sm-6
	{
background-color: gray;
 border-color: black;
 border-style: solid;
 border-width: 2px;
 color: white;
  padding: right 50px;



}
#susi
{
	width: 100%;
}
}
 @media (min-width: 60px)
 {
 	.col-xs-12
	{
background-color: gray;
 border-color: black;
 border-style: solid;
 border-width: 2px;
 color: black;
 margin-bottom: 20px

}
}